* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Appbar section */
.appbar-container {
  z-index: 9;
  height: 60px;
  width: 100%;
  background-color: rgba(107,168,234,255);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.appbar-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Helvetica";
  font-size: 24px;
  color: rgb(255, 255, 255);
  height: 100%;
  margin: 0 30px;
}

.appbar-grid-item > img {
  height: 25px;
}

/* Body section  */

.body-container {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
}

/* Body container  */

.body-container > div {
  height: calc(50vh - 30px);
}

/* .body-upper-container {
} */

.body-upper-container > div {
  padding-bottom: 20px;
}

.body-upper-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body-upper-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.body-upper-grid-item > span {
  font-family: "Segoe UI";
  font-size: 18px;
}

#img_wave {
  height: 100px;
  margin: 50px 0;
}

.span-recording-done {
  color: green;
  margin: 95px 0;
}

.body-lower-container {
  background-color: rgba(107,168,234,255);
  border-radius: 30px 30px 0 0;
}

.body-lower-recording {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-lower-recording > span {
  position: absolute;
  padding-top: 250px;
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#btn_onclick_border {
  position: absolute;
  z-index: 1;
  width: 210px;
  height: 210px;
  background-color: rgba(153,204,255,255);
  border-radius: 50%;
}

#btn_microphone {
  position: absolute;
  z-index: 2;
  width: 175px;
  height: 180px;
  border: none;
  border-radius: 50%;
}

#btn_microphone > img {
  z-index: 2;
  width: 175px;
  height: 180px;
}

.body-lower-view-result {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-lower-view-result > button {
  margin: auto;
  position: absolute;
  top: calc(100vh - 150px); left: 0; bottom: 0; right: 0;
  border: none;
  color: white;
  background-color: rgba(22,43,75,255);
  width: 80%;
  height: 50px;
  border-radius: 50px;
  font-family: "Segoe UI";
  font-size: 14px;
}