<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
	<title>AI4Covid-19 System: Main Menu</title>
	<link rel="stylesheet" href="cs/styleMainMenu.css">
</head>
<body>
    <section>
        <header>
            <div class="menu">
                <img src="img/iconmenu.svg" alt="Menu" width="35">
            </div>
            <img src="img/mainMenuVirus.svg" alt="Header">
        </header>
        <main>
            <div class="buttons">
                <div class="button">
                    <img src="img/iconCough.png" alt="DiagCough" width="70">
                    Diagnose Cough
                </div>
                <div class="button">
                    <img src="img/iconRecord.png" alt="History" width="70">
                    History
                </div>
                <div class="button">
                    <img src="img/iconUser.png" alt="Profile" width="70">
                    Profile
                </div>
            </div>
            <div class="maps">
                <h2>Locations</h2>
                <div class="map">
                    <div class="googleMap">
                        <img src="img/maps.jpg" alt="Maps" width="300">
                    </div>
                    
                </div>


            </div>
    </section>